// div{width:auto; height:500px;}
// a.button{font-size:12px;}
html {
  background: #f5f5f5;
}

a {
  color: black;
  text-decoration: none;
}

.photo__image {
  position: relative;

  &__el {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }

  &__ms {
    position: absolute;
    color: white;
    bottom: 0;
    left: 0;
    font-size: 2em;
    font-family: Quicksand, sans-serif;
  }
}

.contents {
  padding: 0 150px;

  .list {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
  
    &__el {
      margin-right: 20px;
      list-style: none;
      font-size: x-large;
    }
  }

  .sec_el {
    text-align: center;
    font-size: x-large;
    margin-bottom: 50px;
  }

  .button {
    text-align: right;
    margin-bottom: 100px;
    
    &__el {
      color: black;
    }
  }

  .profile {

    &__image {
      text-align: center;

      &__el {
        border-radius: 50%;
        width: 40%;
        padding: 20px;
      }
    }
  }

  .works {
    display: flex;

    &__el {
      width: calc(100%/3);
      text-align: center;

      &__c {
        width: 100%;
      }
    }
  }

  .contact {

    &__image {
      text-align: center;

      &__el {
        border-radius: 50%;
        width: 10%;
      }
    }
  }
}
